<div class="wrapper" >
  <div class="wrapper-cell" fxLayout="column">
      <div class="wrapper-cell" fxLayout="row" fxLayoutAlign=" center" >
        <div class="image"></div>
        <div class="text title">
          <div class="text-line-header"></div>
          <div class="text-line-header"></div>
        </div>
      </div>
    <div class="text title">
      <div class="text-line"></div>
    </div>
    <div class="text body">
      <div class="text-line"></div>
      <div class="text-line"></div>
      <div class="text-line"></div>
      <div class="text-line"></div>
    </div>
  </div>
</div>

<div class="wrapper" >
  <div class="wrapper-cell" fxLayout="column">
      <div class="wrapper-cell" fxLayout="row" fxLayoutAlign=" center" >
        <div class="image"></div>
        <div class="text title">
          <div class="text-line-header"></div>
          <div class="text-line-header"></div>
        </div>
      </div>
    <div class="text title">
      <div class="text-line"></div>
    </div>
    <div class="text body">
      <div class="text-line"></div>
      <div class="text-line"></div>
      <div class="text-line"></div>
      <div class="text-line"></div>
    </div>
  </div>
</div>

<div class="wrapper" >
  <div class="wrapper-cell" fxLayout="column">
      <div class="wrapper-cell" fxLayout="row" fxLayoutAlign=" center" >
        <div class="image"></div>
        <div class="text title">
          <div class="text-line-header"></div>
          <div class="text-line-header"></div>
        </div>
      </div>
    <div class="text title">
      <div class="text-line"></div>
    </div>
    <div class="text body">
      <div class="text-line"></div>
      <div class="text-line"></div>
      <div class="text-line"></div>
      <div class="text-line"></div>
    </div>
  </div>
</div>